<section class="hero">
    <div class="container">
        <div class="left-col">
            <p class="subhead">Connect with your waddle</p>
            <h1>Tweezy</h1>

            <div class="hero-cta">
                <a href="#" class="primary-cta">Sign Up Now</a>
            </div>
        </div>

        <img src="/assets/hero-img.svg" alt="Hero Image" class="hero-img">
    </div>

</section>