<section class="hero">
    <div class="login-form">
        <h3>Login</h3>
        <% if(typeof loginMessage !== "undefined") {%>
            <p class="text-danger"><%= loginMessage.description %></p>
        <%} %>
        <form action="">
            <div class="form-item">
                <label class="input-label" for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-item">
                <label class="input-label" for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

            <div class="form-col">
                <div class="form-col-left">
                    <input type="checkbox" name="rememberMe" id="rememberMe" value="rememberMe">
                    <label for="rememberMe">Remember Me</label>               
                </div>

                <div class="form-col-right">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
            
            
            
            <input type="submit" class="btn-submit" value="Login">
        </form>
    </div>
</section>