.login-form{
    width: 450px;
    height: 450px;
    margin: auto;
    background: white;
    box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form{
        width: 75%;
        
        .form-col{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3em;
            color: var(--dark-gray);
        }

        .form-item{
            margin-bottom: 1em;
            width: 100%;
            outline: none;
    
            .input-label{
                display: block;
                text-align: left;
                color: var(--dark-gray);
                font-size: 0.8em;
            }
    
            input{
                width: 100%;
                border: 1px solid var(--primary-color);
                border-radius: 0.5em;
                color: var(--dark-gray);
                padding: 0.3em;
                font-size: 1.2em;
    
                &:focus{
                    border: 2px solid var(--primary-color);
                    outline: none;
                }
            }
        }
    }

    .btn-submit{
        background: linear-gradient(to right, #2786CF, #27BFCF);
        color: white;
        font-size: 1.3em;
        border: none;
        border-radius: 5em;
        padding: 0.4em;
        width: 100%;
        outline: none;
        
        &:hover{
            font-weight: bold;
        }
    }

    h3{
        color: var(--primary-color);
        font-weight: bold;
        font-size: 2em;
        padding-bottom: 0.5em;
    }
}