<div class="box">
    <h3 class="title is-3">Update Profile</h3>
    <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input class="input" type="text" name="fname">
        </div>
    </div>

    <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input class="input" type="text" name="lname">
        </div>
    </div>

    <div class="field">
        <label class="label">Birthdate</label>
        <div class="control">
            <input class="input" type="date" name="dob">
        </div>
    </div>

    <div class="field">
        <label class="label">Location</label>
        <div class="control">
            <input class="input" type="text" name="location">
        </div>
    </div>

    <div class="field">
        <label class="label">Gender</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Select gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Biography</label>
        <div class="control">
            <textarea class="textarea" placeholder="What's up"></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-info is-rounded">Save</button>
        </div>
    </div>
</div>

<!-- Change password -->
<div class="box">
    <h3 class="title is-3">Change Password</h3>
    <div class="field">
        <label class="label">Old Password</label>
        <div class="control">
            <input class="input" type="text" name="oldpassword">
        </div>
    </div>

    <div class="field">
        <label class="label">New Password</label>
        <div class="control">
            <input class="input" type="text" name="password">
        </div>
    </div>

    <div class="field">
        <label class="label">Confirm New Password</label>
        <div class="control">
            <input class="input" type="text" name="confirmpassword">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-info is-rounded">Save</button>
        </div>
    </div>
</div>