<div class="box">
    <h5 class="title is-5">Who To Follow</h5>
    <div class="card">
        <div class="card-content is-paddingless">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="assets/temp-profile-img.png" class="is-rounded">
                    </figure>
                </div>
                <div class="media-content">
                    <p>
                        <strong>John Doe</strong><br> <small>@johndoe</small>
                    </p>
                </div>
                <div class="media-right">
                    <button class="button is-info is-rounded">Follow</button>
                </div>
            </div>
        </div>
    </div>
</div>