<div class="box is-paddingless">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="assets/temp-profile-img.png" class="is-rounded">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-5">John Doe</p>
                    <p class="subtitle is-6">@johndoe</p>
                </div>
            </div>
            <div class="content is-small">
                <nav class="level">
                    <div class="level-item has-text-centered">
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <a><strong>Following</strong></a><br>
                            <strong>222</strong>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <a><strong>Followers</strong></a><br>
                            <strong>333</strong>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>