<div class="box">
    <h5 class="title is-5">Trends for you</h5>
    <div class="trendsitem">
        <a href="#"><strong>#PrincePhillip</strong></a>
        <br>
        <small>321 tweets</small>
    </div>
    <div class="trendsitem">
        <a href="#"><strong>#Covid19</strong></a>
        <br>
        <small>321 tweets</small>
    </div>
</div>